@page
@model Web.Pages.Auth.LoginModel
@{
}

<div class="container-fluid ">
    <div class="d-flex align-items-center justify-content-center" style="height:100vh; overflow:hidden;">
        <div style="width:30vw;">
            <form class="p-3 m-auto bg-light" style="border:1px solid blue;border-radius:5px;"
                  asp-page="index"
                  method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <h3 class="text-center">Login</h3>
                <div class="my-1">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" asp-for="user.Email" placeholder="johndoe@gmail.com" />
                    <span asp-validation-for="user.Email"></span>
                </div>

                <div class="my-1">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" asp-for="user.Password" placeholder="****" />
                    <span asp-validation-for="user.Password"></span>
                </div>

                <div class="my-2">
                    <button class="btn btn-outline-primary" type="submit">Login</button>
                    <a asp-page="/Auth/Register">Register</a>
                </div>
            </form>
        </div>

    </div>
</div>
