html {
  font-size: 14px;
}

*{
    border-radius:0 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-form{
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
}

.site-bg-primary-color {
    /*background-color : #219ebc;*/
    background-color: #ffb703;
}

.site-bg-primary-light-color{
    background-color: #8ecae6;
}

.site-bg-dark-color{
    background-color: #023047;
}

.site-bg-brand-color {
    /*background-color: #ffb703;*/
    background-color: #219ebc;
}

.site-bg-brand-dark-color{
    background-color: #fb8500;
}

.site-text-primary-color {
    /*color: #219ebc;*/
    color: #ffb703;
}

.site-text-primary-light-color {
    color: #8ecae6;
}

.site-text-dark-color {
    color: #023047;
}

.site-text-brand-color {
    /*color: #ffb703;*/
    color: #219ebc;
}

.site-text-brand-dark-color {
    color: #fb8500;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(255, 183,3, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 183,3, 0.6);
    outline: 0 none;
}

.container-card {
    background-color:white;
}

td.highlight {
    font-weight: bold;
    color: blue !important;
}

.btn-file-upload{
    width: 150px;
    height : 100px;
    cursor: pointer;
    background-image: url("/images/images-plus.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    border: 1px dotted black;
}

.btn-create {
    line-height: 50px !important;
    background-color: #219ebc;
    color: white;
    text-decoration: none;
    padding: 10px;
}