@page
@model Web.Pages.Courses.CreateModel
@{
    var title = ViewData["title"];
}

<section class="mx-auto align-content-center w-50">
    <h1 class="text-center">@title</h1>
    @if (ViewData.ContainsKey("Message"))
    {
        <div class="text-danger text-center">@ViewData["Message"]</div>
    }
    <form method="post" enctype="multipart/form-data" asp-page="create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="course.Id" hidden />
        <div class="row my-2">
            <label class="col-sm-4">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Name" />
                <span asp-validation-for="course.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Description" />
                <span asp-validation-for="course.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Fees</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Fees" />
                <span asp-validation-for="course.Fees" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Start Date</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" asp-for="course.StartDate" />
                <span asp-validation-for="course.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">End Date</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" asp-for="course.EndDate" />
                <span asp-validation-for="course.EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Image</label>
            <div class="col-sm-6">
                <div class="btn-file-upload" data-value="@Model.course?.ImageSrc"></div>
                <input id="upload-file" type="file" class="form-control visually-hidden" asp-for="course.ImageFile"/>
                <span asp-validation-for="course.ImageFile" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4"></label>
            <div class="col-sm-8" style="max-width:150px;min-width:100px;">
                <input type="submit" class="form-control" value="Save" />
            </div>
        </div>
    </form>
</section>

@section Scripts {

    <script>
        $(document).ready(function(){

            var btnFileUpload = $(".btn-file-upload");

            var imageSrc = btnFileUpload.attr("data-value");

            if(imageSrc){
                btnFileUpload.css("background-image", "url(" + imageSrc + ")")
            }

            $(".btn-file-upload").click(function(){
                $("#upload-file").click();
            });

            $("#upload-file").change(function(){
                var data = $("#upload-file")[0].files[0];

                var dataSrc = URL.createObjectURL(data);

                btnFileUpload.css("background-image","url("+dataSrc+")")
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
