@page
@model Web.Pages.Courses.CreateModel
@{
    var imgPath = Model.course;
}

<section class="mx-auto align-content-center w-50">
    <h1 class="text-center">Create Course</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-2">
            <label class="col-sm-4">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Name" />
                <span asp-validation-for="course.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Description" />
                <span asp-validation-for="course.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Fees</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="course.Fees" />
                <span asp-validation-for="course.Fees" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Start Date</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" asp-for="course.StartDate" />
                <span asp-validation-for="course.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">End Date</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" asp-for="course.EndDate" />
                <span asp-validation-for="course.EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4">Image</label>
            <div class="col-sm-6">
                <input type="file" class="form-control" asp-for="course.ImgSrc" onchange="ShowImg(this)"/>
                <span asp-validation-for="course.ImgSrc" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <img id="imgSrc" src="@imgPath" width="100" height="100"/>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-4"></label>
            <div class="col-sm-8" style="max-width:150px;min-width:100px;">
                <input type="submit" class="form-control" value="Save" />
            </div>
        </div>
    </form>
</section>

@section Scripts {

    <script>
        function ShowImg(data)
        {
            let info = data;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
