@page
@model Web.Pages.Courses.EditModel
@{
}

<div class="align-content-center mx-auto w-50">
    <h1>Edit</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="course.Id" hidden />
        <div class="row my-2">
            <label class="col-md-4 form-label" asp-for="course.Name"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" asp-for="course.Name" />
                <span asp-validation-for="course.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-md-4 form-label" asp-for="course.Description"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" asp-for="course.Description" />
                <span asp-validation-for="course.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-md-4 form-label" asp-for="course.Fees"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" asp-for="course.Fees" />
                <span asp-validation-for="course.Fees" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-md-4 form-label" asp-for="course.StartDate"></label>
            <div class="col-md-8">
                <input type="date" class="form-control" asp-for="course.StartDate" />
                <span asp-validation-for="course.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-md-4 form-label" asp-for="course.EndDate"></label>
            <div class="col-md-8">
                <input type="date" class="form-control" asp-for="course.EndDate" />
                <span asp-validation-for="course.EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-md-4 form-label"></label>
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>

    </form>
</div>